[submodule "third_party/openfx"]
	path = third_party/openfx
	url = https://github.com/AcademySoftwareFoundation/openfx.git
[submodule "third_party/nodeeditor"]
	path = third_party/nodeeditor
	url = https://github.com/paceholder/nodeeditor.git
